{% extends 'mainview.html' %}
{% load staticfiles %}


{% block title %}{{ cat.title }}{% endblock %}

{% block content %}
<div class="large-10 columns">
	<center><span class="radius label" style="font-size: 42px; width: 100%">{% if cat %}{{ cat.title }}{% else %}Одежда{% endif %}</span></center>
	<div style="border: 2px double black; float: left; width: 100%; padding: 5px 5px 5px 5px; margin-top: 20px">
		{{ message }}
		{% for wear in wears %}<div style="float: inherit; margin: 5px 5px 5px 5px">
			<ul class="pricing-table" style="width: 250px">
				<li class="title">{{ wear.title }}</li>
				<li class="description" style="max-height: 250px; min-height: 250px">
                    {% if wear.logo %}
                        <img src="{{ wear.logo.url }}" height="{{ wear.logo.height }}" width="{{ wear.logo.width }}">
                    {% else %}
                        <img src="{% static "img/default.jpg" %}" height="800" width="800">
                    {% endif %}
                </li>
				<li class="price">{{ wear.price }} руб</li>
				<li class="cta-button">
					<a class="button" href="{{ wear.get_absolute_url }}">Просмотр</a>
					<a class="button" href="{% url 'add_to_cart' wear.id %}">В корзину</a>
				</li>
			</ul>
		</div>
        {% endfor %}
	</div>
</div>
{% endblock %}
