{% extends 'mainview.html' %}

{% block wear_block %}
<div class="large-10 columns">
    <center><span class="radius label" style="font-size: 42px; width: 100%">{{ wear.title }}</span></center>
    <div style="border: 2px double black; float: left; width: 100%; padding: 5px 5px 5px 5px; margin-top: 20px">
        <div style="float: inherit; max-width: 300px; border: 1px double black; margin-right: 10px; padding: 5px 5px 5px 5px;">
            <img src="/media/{{ wear.logo }}">
            <center><a href="/media/{{ wear.logo }}">Увеличить</a></center>
        </div>
        <div>
        <h2><b>Название: </b>{{ wear.title }}</h2>
        <h5><b>Описание: </b>{{ wear.description }}</h5>
        <h5><b>Цена: </b>{{ wear.price }} руб.</h5>
        <h5><b>Количество на складе: </b>{{ all_count }}</h5>
        <p><b>Размеры: </b></p>
        {% for size in sizes %}
            <p>{{ size.size }} - {{ size.count }}</p>
        {% endfor %}
        <p><b>Дополнительные комментарии: </b>{{ wear.comment }} {{ add_to_cart }}</p>
        <a class="button" href="{{ add_to_cart }}">ололо</a>
        </div>
    </div>
</div>
{% endblock %}