<!DOCTYPE html>
<html>
<head>
</head>
<body>
{% block breadcrumbs %}
<ul class="breadcrumbs">
    {% for crumb in breadcrumbs %}
        {% if request.path == crumb.get_absolute_url %}
            <li class="current">{{ crumb.title }}</li>
        {% else %}
            <li><a href="{{ crumb.get_absolute_url }}">{{ crumb.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
<ul class="breadcrumbs">  {# Это нужно как-то автомтизировать, потом придумаю #}
    {% if request.path == '/wear/'%}
        <li class = "current">Одежда</li></ul>
    {% else %}
        <a href="/wear">Одежда</a></li>
    {% endif %}
    {% if '/detail/' not in request.path and '/category/' in request.path %}
        <li class = "current">{{ cat.title }}</li></ul>
    {% else %}
        <a href="/wear/category/{{ cat.id }}">{{ cat.title }}</a></li>
    {% endif %}
    {% if '/detail/' in request.path and '/category/' not in request.path %}
        <li class = "current">{{ wear.title }}</li></ul>
    {% else %}
        </li></ul>
    {% endif %}
</body>
{% endblock %}
</html>